backend/.sdos_env
backend/backend/__pycache__/*
backend/api/__pycache__/*
backend/api/migrations/__pycache__/*
backend/backend/oauth_settings.py
backend/api/oauth_settings.py
# Don't ignore requirements.txt and runtime.txt - needed for deployment
!requirements.txt
!runtime.txt

