celery
redis
django
django-cors-headers
djangorestframework
social-auth-app-django
psycopg2-binary
pytz
pandas
numpy
scikit-learn
openai
gunicorn
requests
google-generativeai
groq
langchain 
tiktoken 
faiss-cpu 
chromadb 
unstructured
langchain-core 
langchain-community
transformers
torch
whitenoise
dj-database-url